<div class="general-container">
  <h2>Abschlüsse</h2>

  <!-- Degrees Section -->
  <ul>
    <li *ngFor="let degree of degrees">
      {{ degree.name }}
      <button class="btn-danger" (click)="deleteDegree(degree.id)">Löschen</button>
    </li>
  </ul>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newDegreeName"
      placeholder="Abschluss hinzufügen" />
    <button (click)="addDegree()">Hinzufügen</button>
  </div>

  <hr />

  <h2>Semester</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Abkürzung</th>
        <th>Jahr</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semester of semesters">
        <td>{{ semester.name }}</td>
        <td>{{ semester.abbreviation }}</td>
        <td>{{ semester.year }}</td>
        <td>
          <button (click)="deleteSemester(semester.id)">Löschen</button>
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            [(ngModel)]="newSemesterName"
            placeholder="Semester" />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="newSemesterAbbreviation"
            placeholder="Abkürzung" />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="newSemesterYear"
            placeholder="Jahr" />
        </td>
        <td>
          <button (click)="addSemester()">Hinzufügen</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Languages Section -->
  <h2>Sprachen</h2>

  <ul>
    <li *ngFor="let language of languages">
      {{ language.name }}
      <button (click)="deleteLanguage(language.id)">Löschen</button>
    </li>
  </ul>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newLanguageName"
      placeholder="Neue Sprache hinzufügen" />
    <button (click)="addLanguage()">Hinzufügen</button>
  </div>

  <hr />

  <!-- Durations Section -->
  <h2>Verfügbare Moduldauer</h2>

  <ul>
    <li *ngFor="let duration of durations">
      {{ duration.name }}
      <button (click)="deleteDuration(duration.id)">Löschen</button>
    </li>
  </ul>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newDurationName"
      placeholder="Wählbare Moduldauer hinzufügen" />
    <button (click)="addDuration()">Hinzufügen</button>
  </div>

  <hr/>

  <!-- Maternity Protections Section -->
  <h2>Gefährdungsstufe Mutterschutz</h2>

  <ul>
    <li *ngFor="let protection of maternityProtections">
      {{ protection.name }}
      <button (click)="deleteMaternityProtection(protection.id)">Delete</button>
    </li>
  </ul>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newMaternityProtectionName"
      placeholder="Gefährdungsstufe hinzufügen" />
    <button (click)="addMaternityProtection()">Hinzufügen</button>
  </div>

  <hr/>

  <!-- Course Types Section -->
  <h2>Verfügbare Arten der Lehrveranstaltung</h2>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let courseType of courseTypes">
      <td>{{ courseType.name }}</td>
      <td>{{ courseType.abbreviation }}</td>
      <td>
        <button (click)="deleteCourseType(courseType.id)">Löschen</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newCourseTypeName"
      placeholder="Name der Lehrveranstaltung hinzufügen" />

    <input
      type="text"
      [(ngModel)]="newCourseTypeAbbreviation"
      placeholder="Abbreviation der Lehrveranstaltung hinzufügen" />

    <button (click)="addCourseType()">Hinzufügen</button>
  </div>

  <h2>Verfügbarer Turnus</h2>
  <ul>
    <li *ngFor="let cycle of cycles">
      {{ cycle.name }}
      <button (click)="deleteCycle(cycle.id)">Löschen</button>
    </li>
  </ul>

  <div class="settings-add-container">
    <input
      type="text"
      [(ngModel)]="newCycleName"
      placeholder="Turnus hinzufügen" />
    <button (click)="addCycle()">Hinzufügen</button>
  </div>

</div>
