* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  background-color: var(--modulo-main-color);
  color: var(--modulo-white);
  padding: 10px;
  text-align: center;
}

.top-bar {
  color: var(--modulo-white);
  display: flex;
  justify-content: flex-end; /* Push content to the right */
  align-items: center;
  padding: 10px;
  background-color: var(--modulo-main-color);
  height: 60px; /* Example height for the top bar */
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: var(--modulo-light-grey);
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: var(--modulo-black);
}

.sidebar a:hover {
  background-color: var(--modulo-light-grey);
}

.bottom-nav {
  margin-top: auto; /* Pushes this list to the bottom */
}

.main-content {
  background-color: var(--modulo-white);
  flex: 1;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0; /* Reset margin for h1 */
}
