/* Exam Types Table Styles */
.detail-table {
  width: 100%; /* Make the table full-width */
  border-collapse: collapse; /* Collapse borders */
  margin-top: 15px; /* Space above the table */
}

.detail-table th,
.detail-table td {
  padding: 12px; /* Top/bottom padding for cells */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid var(--modulo-light-grey); /* Bottom border for cells */
}

.detail-table th {
  background-color: var(--modulo-light-grey); /* Header background */
  font-weight: bold; /* Bold headers */
}

.detail-table tr:hover {
  background-color: var(--modulo-mid-grey); /* Highlight on row hover */
}

td input {
  width: 100%;
  min-width: 30px;
}
