:root {
  --modulo-main-color: #fd8e0d;
  --modulo-red: #ff0000;
  --modulo-light-grey: #f8f9fa;
  --modulo-mid-grey: #adb1b4;
  --modulo-dark-grey: #6c757d;
  --modulo-black: #000000;
  --modulo-white: #ffffff;
}
