@import url('modulo-colors.css');

.quill-editor[disabled] {
  pointer-events: none;  /* Prevent any interaction */
  background-color: var(--modulo-light-grey); /* Change background */
  color: var(--modulo-mid-grey); /* Change text color */
}
