<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/list']" routerLinkActive="active">Dokumente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/generate']" routerLinkActive="active">Erzeugung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/upload']" routerLinkActive="active">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/bulk-generate']" routerLinkActive="active">Sammelerzeugung</a>
    </li>
  </ul>
</nav>

<main class="main-content">
  <div class="generate-component">
    <h2>Upload Document</h2>

    <div>
      <label for="spos">Select SPO:</label>
      <select id="spos" [(ngModel)]="selectedSpoId">
        <option *ngFor="let spo of spos" [value]="spo.id">{{ spo.name }}</option>
      </select>
    </div>

    <div>
      <label for="semesters">Select Semester:</label>
      <select id="semesters" [(ngModel)]="selectedSemesterId">
        <option *ngFor="let semester of semesters" [value]="semester.id">{{ semester.name }} {{ semester.year}}</option>
      </select>
    </div>

    <div>
      <label for="documentType">Select Document Type:</label>
      <select id="documentType" [(ngModel)]="selectedDocumentType">
        <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <!-- File upload -->
    <input type="file" (change)="onFileSelected($event)">
    <button (click)="uploadDocument()">Upload Document</button>
  </div>
</main>
