<main class="main-content">
  <button class="btn-highlight" (click)="navigateToNewModule()" >Add New Module</button>

  <div class="module-list-container">
    <h2>Module</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Abkürzung</th>
        <th>Verwendungen</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let module of modules">
        <td>{{ module.name }}</td>
        <td>{{ module.abbreviation }}</td>
        <td>
          <div *ngFor="let spo of module.spos">
            {{ spo.name }} {{ spo.degree.name }} - ab {{spo.validUntil | date: 'MM/yy' }}
          </div>
        </td>
        <td>
          <button (click)="navigateToModuleDetail(module.id)">View Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
