<div class="app-container">
  <header class="top-bar">
    <h1>Modulo</h1>
    <button class="logout-button" (click)="logout()">Logout</button>
  </header>
  <div class="content-container">
    <nav class="sidebar">
      <ul>
        <li><a routerLink="/spo">SPO</a></li>
        <li><a routerLink="/module">Module</a></li>
        <li><a routerLink="/documents"></a>Dokumente</li>
        <li><a routerLink="/user">Benutzer</a></li>
        <li><a routerLink="/configuration">Konfiguration</a></li>
      </ul>
      <ul class="bottom-nav">
        <li><a routerLink="/my">My</a></li>
      </ul>
    </nav>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
