<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/list']" routerLinkActive="active">Dokumente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/generate']" routerLinkActive="active">Erzeugung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/upload']" routerLinkActive="active">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documents/bulk-generate']" routerLinkActive="active">Sammelerzeugung</a>
    </li>
  </ul>
</nav>

<main class="main-content">
  <div class="bulk-generate">
    <h2>Sammelerzeugung</h2>

    <div>
      <label for="semester-select">Semester wählen:</label>
      <select id="semester-select" [(ngModel)]="selectedSemester">
        <option *ngFor="let semester of semesters" [ngValue]="semester">
          {{ semester.name }} {{ semester.year }}
        </option>
      </select>
    </div>

    <h3>Studiengänge wählen:</h3>
    <div class="checkbox-container">
      <input type="checkbox" id="allSelected" [(ngModel)]="allSelected" (change)="toggleSelectAll()">
      <label for="allSelected">Alle auswählen</label>
    </div>

    <div *ngFor="let spo of spoItems" class="checkbox-container">
      <input type="checkbox" [id]="isSpoSelected(spo.id)" [checked]="isSpoSelected(spo.id)" (change)="toggleSpoSelection(spo.id)">
      <label [for]="isSpoSelected(spo.id)">{{ spo.name }} {{spo.degree.name}}</label>
    </div>

    <h3>Dokumente wählen:</h3>
    <div class="document-options">
      <div class="checkbox-container">
        <input type="checkbox" id="moduleManualChecked" [(ngModel)]="moduleManualChecked">
        <label for="moduleManualChecked">Modulhandbuch</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="studyGuideChecked" [(ngModel)]="studyGuideChecked">
        <label for="studyGuideChecked">Studienplan</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="spoChecked" [(ngModel)]="spoChecked">
        <label for="spoChecked">SPO</label>
      </div>
    </div>

    <button (click)="generateDocuments()">Generate</button>
  </div>
</main>
