<!-- Navigation Tabs -->
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/spo', spo.id, 'overview']" routerLinkActive="active">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/spo', spo.id, 'module-frames']" routerLinkActive="active">Module Frames</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/spo', spo.id, 'text']" routerLinkActive="active">Text</a>
    </li>
  </ul>
</nav>

<main class="main-content">
  <div *ngIf="moduleFrameSet">
    <h1>SPO Details</h1>

    <div *ngFor="let section of moduleFrameSet.sections">
      <h2>{{ section.name }}</h2>

      <div *ngFor="let moduleType of section.moduleTypes">
        <h3>{{ moduleType.name }}</h3>

        <table>
          <thead>
          <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>SWS</th>
            <th>Course Types</th>
            <th>Exam Types</th>
            <th>Weight</th>
            <th>Credits</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let moduleFrame of moduleType.moduleFrames">
            <td>{{ moduleFrame.quantity }}</td>
            <td>{{ moduleFrame.name }}</td>
            <td>{{ moduleFrame.sws }}</td>
            <td>
              <table>
                <tr *ngFor="let courseType of moduleFrame.courseTypes">
                  <label *ngIf="courseType.enabled">
                    <input
                      type="checkbox"
                      [(ngModel)]="courseType.enabled"
                      disabled="true"
                    />
                    {{ courseType.abbreviation }}
                  </label>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let examType of moduleFrame.examTypes">
                  <td *ngIf="examType.enabled">
                    <label>
                      <input
                        type="checkbox"
                        [(ngModel)]="examType.enabled"
                        disabled="true"
                      />
                    </label>
                    {{ examType.abbreviation }}: {{examType.length}}
                  </td>
                  <td *ngIf="examType.enabled">
                    <label>
                    <input
                    type="checkbox"
                    [(ngModel)]="examType.mandatory"
                    disabled="true"
                    />
                    </label>
                  </td>
                  mandatory
                </tr>
              </table>
            </td>
            <td>{{ moduleFrame.weight }}</td>
            <td>{{ moduleFrame.credits }}</td>
            <td>
              <!-- You could add edit/delete functionality here -->
            </td>
          </tr>
          <tr *ngIf="isAddingModuleFrame[section.id] && isAddingModuleFrame[section.id][moduleType.id]">
            <td><input type="number" [(ngModel)]="newModuleFrame.quantity" placeholder="Semester"/></td>
            <td><input type="text" [(ngModel)]="newModuleFrame.name" placeholder="Name"/></td>
            <td><input type="number" [(ngModel)]="newModuleFrame.sws" placeholder="SWS"/></td>
            <td>
              <table>
                <tr *ngFor="let courseType of newModuleFrame.courseTypes">
                  <label>
                    <input
                      type="checkbox"
                      [(ngModel)]="courseType.enabled"
                    />
                    {{ courseType.abbreviation }}
                  </label>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let examType of newModuleFrame.examTypes">
                  <td>
                    <label>
                      <input
                        type="checkbox"
                        [(ngModel)]="examType.enabled"
                      />
                      {{ examType.abbreviation }}
                    </label>
                  </td>
                  <td>
                    <label>
                      <input
                        type="checkbox"
                        [(ngModel)]="examType.mandatory"
                        disabled={{!examType.enabled}}
                      />
                      mandatory
                    </label>
                  </td>
                </tr>
              </table>
            </td>
            <td><input type="number" [(ngModel)]="newModuleFrame.weight" placeholder="Weight"/></td>
            <td><input type="number" [(ngModel)]="newModuleFrame.credits" placeholder="Credits"/></td>
            <td>
              <button class="btn-soft-highlight" (click)="addModuleFrame(moduleType.id, section.id)">Add</button>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn-soft-highlight" (click)="toggleAddModuleFrame(section.id, moduleType.id)">
          {{ isAddingModuleFrame[section.id][moduleType.id] ? 'Cancel' : 'Add Module Frame' }}
        </button>

      </div>
    </div>
  </div>

  <button (click)="navigateToNewModuleFrame()" class="btn btn-primary">Add New Module</button>
</main>
