<div class="user-detail">
  <h2>User Details</h2>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div>
      <label for="id">ID:</label>
      <input id="id" formControlName="id" type="text" />
    </div>

    <div>
      <label for="mail">Email:</label>
      <input id="mail" formControlName="mail" type="email" />
    </div>

    <div>
      <label for="title">Title:</label>
      <input id="title" formControlName="title" type="text" />
    </div>

    <div>
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" type="text" />
    </div>

    <div>
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" type="text" />
    </div>

    <div>
      <label for="code">Code:</label>
      <input id="code" formControlName="code" type="text" />
    </div>

    <div>
      <label for="role">Role:</label>
      <input id="role" formControlName="role" type="text" />
    </div>

    <button type="button" (click)="toggleEdit()">
      {{ isEditing ? 'Cancel' : 'Edit' }}
    </button>
    <button *ngIf="isEditing" type="submit" (click)="saveUser()" [disabled]="!isEditing">Save</button>
    <button type="button" (click)="goBack()">Back</button>
  </form>
</div>
