<!-- src/app/module-detail/module-detail.component.html -->

<div *ngIf="moduleImplementation">
  <h2>Module Details</h2>

  <label>Verwendungen:</label>
  <table>
    <thead>
    <tr>
      <th>Studiengang</th>
      <th>Modul gemäß Spo</th>
      <th>Moduldetails gemäß SPO</th>
      <th>Examina</th>
      <th>Voraussetzungen</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let moduleFrameModuleImplementation of moduleFrameModuleImplementations">
        <td>
          {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.name }}
          <div *ngIf="moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validFrom">
            Gültig seit {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validFrom | date: 'MM/yy' }}
          </div>
          <div *ngIf="moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validUntil">
            Gültig bis {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validUntil | date: 'MM/yy' }}
          </div>
        </td>
        <td>{{ moduleFrameModuleImplementation.moduleFrameDTO.name }}</td>
        <td>
          <label>SWS: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.sws" disabled="disabled">
          <label>ECTS: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.credits" disabled="disabled">
          <label>Gewichtung: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.weight" disabled="disabled">
        </td>
        <td>
          <div *ngFor="let examType of moduleFrameModuleImplementation.examTypeDTOs">
            <div class="checkbox-container">
              <input type="checkbox" [id]="examType.name+'-enabled'" [checked]="examType.enabled" disabled="disabled">
              <label [for]="examType.name+'-enabled'">
                {{ examType.abbreviation }} - {{ examType.name}}
              </label>
            </div>
            <label>Length:</label>
            <input [value]="examType.length" disabled="disabled">
            <label>Description:</label>
            <input [value]="examType.description" disabled="disabled">
          </div>
        </td>
        <td>{{ moduleFrameModuleImplementation.moduleRequirementDTO?.name }}</td>
        <td>
          <button (click)="deleteSpo(moduleFrameModuleImplementation.id)">Entfernen</button>
        </td>
      </tr>
      <tr *ngIf="isAddingModuleFrame">
        <td>
          <div>
            <label>Studiengang:</label>
            <select [(ngModel)]="selectedSpo" (change)="onSpoChange()">
              <option *ngFor="let spo of spos" [ngValue]="spo">{{spo.name}}</option>
            </select>
          </div>
        </td>
        <td></td>
        <td>
          <div>
            <label>Examina:</label>
            <div *ngFor="let examType of examTypes">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  [id]="examType.abbreviation"
                  [(ngModel)]="examType.enabled"
                  [disabled]="examType.mandatory"
                />
                <label [for]="examType.abbreviation">{{ examType.name }}</label>
              </div>
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  [id]="examType.abbreviation+'-mandatory'"
                  [(ngModel)]="examType.mandatory"
                  disabled="true"
                />
                <label [for]="examType.abbreviation+'-mandatory'">mandatory</label>
              </div>
              <label>Description:</label>
              <input [(ngModel)]="examType.description" [disabled]="!examType.enabled" />
              <label>Length:</label>
              <input [(ngModel)]="examType.length" [disabled]="!examType.enabled" />
            </div>
          </div>
        </td>
        <td>
          <div>
            <label>Voraussetzungen</label>
            <select [(ngModel)]="selectedModuleRequirement">
              <option *ngFor="let moduleRequirement of moduleRequirements" [ngValue]="moduleRequirement">
                {{ moduleRequirement.name }}
              </option>
            </select>
          </div>
        </td>
        <td>
          <button (click)="addModuleFrame()">Hinzufügen</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="navigateToNewModuleFrame()">Studiengang hinzufügen</button>

  <div>
    <label>Name:</label>
    <input [(ngModel)]="moduleImplementation.name" [disabled]="!isEditing">
  </div>

  <div>
    <label>Abbreviation:</label>
    <input [(ngModel)]="moduleImplementation.abbreviation" [disabled]="!isEditing">
  </div>

  <div>
    <label>Modulverantwortlicher:</label>
    <select [(ngModel)]="moduleImplementation.responsible" [disabled]="!isEditing">
      <option *ngFor="let moduleManager of userDTOs" [ngValue]="moduleManager">{{moduleManager.name}}</option>
    </select>
  </div>

  <h3>Lecturers</h3>
  <table>
    <tbody>
    <tr *ngFor="let lecturer of moduleImplementation.lecturers">
      <td>{{ lecturer.name }}</td>
      <td>
        <button *ngIf="isEditing" (click)="removeLecturer(lecturer.id)">Remove</button>
      </td>
    </tr>
    <tr *ngIf="isEditing">
      <td>
        <select [(ngModel)]="selectedLecturer">
          <option *ngFor="let user of userDTOs" [ngValue]="user">{{ user.name }}</option>
        </select>
      </td>
      <td>
        <button (click)="addLecturer()">Add</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <label>Erstprüfer:</label>
    <select [(ngModel)]="moduleImplementation.firstExaminant" [disabled]="!isEditing">
      <option *ngFor="let firstExaminer of userDTOs" [ngValue]="firstExaminer">{{firstExaminer.name}}</option>
    </select>
  </div>

  <div>
    <label>Zweitprüfer:</label>
    <select [(ngModel)]="moduleImplementation.secondExaminant" [disabled]="!isEditing">
      <option *ngFor="let secondExaminer of userDTOs" [ngValue]="secondExaminer">{{secondExaminer.name}}</option>
    </select>
  </div>



  <div>
    <label>Cycle:</label>
    <select [(ngModel)]="moduleImplementation.cycle" [disabled]="!isEditing">
      <option *ngFor="let cycle of cycles" [ngValue]="cycle">{{cycle.name}}</option>
    </select>
  </div>

  <div>
    <label>Duration:</label>
    <select [(ngModel)]="moduleImplementation.duration" [disabled]="!isEditing">
      <option *ngFor="let duration of durations" [ngValue]="duration">{{duration.name}}</option>
    </select>
  </div>

  <div>
    <label>Language:</label>
    <select [(ngModel)]="moduleImplementation.language" [disabled]="!isEditing">
      <option *ngFor="let language of languages" [ngValue]="language">{{language.name}}</option>
    </select>
  </div>

  <div>
    <label>Maternity Protection:</label>
    <select [(ngModel)]="moduleImplementation.maternityProtection" [disabled]="!isEditing">
      <option *ngFor="let maternityProtection of maternityProtection" [ngValue]="maternityProtection">{{maternityProtection.name}}</option>
    </select>
  </div>

  <div>
    <label>Allowed Resources:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.allowedResources"></div>
    <div *ngIf="!isEditing && !moduleImplementation.allowedResources">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.allowedResources"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Workload:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.workload"></div>
    <div *ngIf="!isEditing && !moduleImplementation.workload">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.workload"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Inhaltliche Voraussetzungen:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.requiredCompetences"></div>
    <div *ngIf="!isEditing && !moduleImplementation.requiredCompetences">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.requiredCompetences"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Qualifikationsziele:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.qualificationTargets"></div>
    <div *ngIf="!isEditing && !moduleImplementation.qualificationTargets">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.qualificationTargets"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Lehrinhalte:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.content"></div>
    <div *ngIf="!isEditing && !moduleImplementation.content">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.content"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Sonstige Leistungsnachweise:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.additionalExams"></div>
    <div *ngIf="!isEditing && !moduleImplementation.additionalExams">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.additionalExams"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Medienformen:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.mediaTypes"></div>
    <div *ngIf="!isEditing && !moduleImplementation.mediaTypes">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.mediaTypes"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <label>Literatur:</label>
    <div *ngIf="!isEditing" [innerHTML]="moduleImplementation.literature"></div>
    <div *ngIf="!isEditing && !moduleImplementation.literature">-</div>
    <quill-editor
      *ngIf="isEditing"
      [(ngModel)]="moduleImplementation.literature"
      [modules]="quillModules">
    </quill-editor>
  </div>

  <div>
    <button (click)="toggleEdit()" *ngIf="!isEditing">Edit</button>
    <button (click)="save()" *ngIf="isEditing">Save</button>
    <button (click)="cancel()" *ngIf="isEditing">Cancel</button>
  </div>
</div>
