<!-- src/app/module-detail/module-detail.component.html -->

<div *ngIf="moduleImplementation">
  <h2>Module Details</h2>

  <label>Verwendungen:</label>
  <table>
    <thead>
    <tr>
      <th>Studiengang</th>
      <th>Modul gemäß Spo</th>
      <th>Moduldetails gemäß SPO</th>
      <th>Examina</th>
      <th>Voraussetzungen</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let moduleFrameModuleImplementation of moduleFrameModuleImplementations">
        <td>
          {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.name }}
          <div *ngIf="moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validFrom">
            Gültig seit {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validFrom | date: 'MM/yy' }}
          </div>
          <div *ngIf="moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validUntil">
            Gültig bis {{ moduleFrameModuleImplementation.moduleFrameDTO.spoDTOFlat.validUntil | date: 'MM/yy' }}
          </div>
        </td>
        <td>{{ moduleFrameModuleImplementation.moduleFrameDTO.name }}</td>
        <td>
          <label>SWS: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.sws" disabled="disabled">
          <label>ECTS: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.credits" disabled="disabled">
          <label>Gewichtung: </label>
          <input [value]="moduleFrameModuleImplementation.moduleFrameDTO.weight" disabled="disabled">
        </td>
        <td>
          <div *ngFor="let examType of moduleFrameModuleImplementation.examTypeDTOs">
            <label>
              <input type="checkbox" [checked]="examType.enabled" disabled="disabled">
              {{ examType.abbreviation }} - {{ examType.name}}
            </label>
            <label>Length:</label>
            <input [value]="examType.length" disabled="disabled">
            <label>Description:</label>
            <input [value]="examType.description" disabled="disabled">
          </div>
        </td>
        <td>{{ moduleFrameModuleImplementation.moduleRequirementDTO?.name }}</td>
    </tbody>
  </table>

  <button (click)="navigateToNewModuleFrame()">Studiengang hinzufügen</button>

  <div>
    <label>Name:</label>
    <input [(ngModel)]="moduleImplementation.name" [disabled]="!isEditing">
  </div>

  <div>
    <label>Abbreviation:</label>
    <input [(ngModel)]="moduleImplementation.abbreviation" [disabled]="!isEditing">
  </div>

  <div>
    <label>Modulverantwortlicher:</label>
    <select [(ngModel)]="moduleImplementation.responsible" [disabled]="!isEditing">
      <option *ngFor="let moduleManager of userDTOs" [ngValue]="moduleManager">{{moduleManager.name}}</option>
    </select>
  </div>

  <h3>Lecturers</h3>
  <table>
    <tbody>
    <tr *ngFor="let lecturer of moduleImplementation.lecturers">
      <td>{{ lecturer.name }}</td>
      <td>
        <button *ngIf="isEditing" (click)="removeLecturer(lecturer.id)">Remove</button>
      </td>
    </tr>
    <tr *ngIf="isEditing">
      <td>
        <select [(ngModel)]="selectedLecturer">
          <option *ngFor="let user of userDTOs" [ngValue]="user">{{ user.name }}</option>
        </select>
      </td>
      <td>
        <button (click)="addLecturer()">Add</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <label>Erstprüfer:</label>
    <select [(ngModel)]="moduleImplementation.firstExaminant" [disabled]="!isEditing">
      <option *ngFor="let firstExaminer of userDTOs" [ngValue]="firstExaminer">{{firstExaminer.name}}</option>
    </select>
  </div>

  <div>
    <label>Zweitprüfer:</label>
    <select [(ngModel)]="moduleImplementation.secondExaminant" [disabled]="!isEditing">
      <option *ngFor="let secondExaminer of userDTOs" [ngValue]="secondExaminer">{{secondExaminer.name}}</option>
    </select>
  </div>



  <div>
    <label>Cycle:</label>
    <select [(ngModel)]="moduleImplementation.cycle" [disabled]="!isEditing">
      <option *ngFor="let cycle of cycles" [ngValue]="cycle">{{cycle.name}}</option>
    </select>
  </div>

  <div>
    <label>Duration:</label>
    <select [(ngModel)]="moduleImplementation.duration" [disabled]="!isEditing">
      <option *ngFor="let duration of durations" [ngValue]="duration">{{duration.name}}</option>
    </select>
  </div>

  <div>
    <label>Language:</label>
    <select [(ngModel)]="moduleImplementation.language" [disabled]="!isEditing">
      <option *ngFor="let language of languages" [ngValue]="language">{{language.name}}</option>
    </select>
  </div>

  <div>
    <label>Maternity Protection:</label>
    <select [(ngModel)]="moduleImplementation.maternityProtection" [disabled]="!isEditing">
      <option *ngFor="let maternityProtection of maternityProtection" [ngValue]="maternityProtection">{{maternityProtection.name}}</option>
    </select>
  </div>

  <div>
    <label>Allowed Resources:</label>
    <input [(ngModel)]="moduleImplementation.allowedResources" [disabled]="!isEditing">
  </div>

  <div>
    <label>Workload:</label>
    <input [(ngModel)]="moduleImplementation.workload" [disabled]="!isEditing">
  </div>

  <div>
    <label>Inhaltliche Voraussetzungen:</label>
    <input [(ngModel)]="moduleImplementation.requiredCompetences" [disabled]="!isEditing">
  </div>

  <div>
    <label>Qualifikationsziele:</label>
    <input [(ngModel)]="moduleImplementation.qualificationTargets" [disabled]="!isEditing">
  </div>

  <div>
    <label>Lehrinhalte:</label>
    <input [(ngModel)]="moduleImplementation.content" [disabled]="!isEditing">
  </div>

  <div>
    <label>Sonstige Leistungsnachweise:</label>
    <input [(ngModel)]="moduleImplementation.additionalExams" [disabled]="!isEditing">
  </div>

  <div>
    <label>Medienformen:</label>
    <input [(ngModel)]="moduleImplementation.mediaTypes" [disabled]="!isEditing">
  </div>

  <div>
    <label>Literatur:</label>
    <input [(ngModel)]="moduleImplementation.literature" [disabled]="!isEditing">
  </div>

  <div>
    <button (click)="toggleEdit()" *ngIf="!isEditing">Edit</button>
    <button (click)="save()" *ngIf="isEditing">Save</button>
    <button (click)="cancel()" *ngIf="isEditing">Cancel</button>
  </div>
</div>
