<div class="module-frame-form">
  <h2>Add New Module Frame</h2>
  <form>
    <div>
      <label for="spo">SPO:</label>
      <input type="text" id="spo" value="{{ spo?.name }} {{ spo?.degree?.name}} - veröffentlicht am {{spo?.publication}}" readonly />
    </div>


    <label for="section">Select Section:</label>
    <select id="section" [(ngModel)]="moduleFrame.section" name="section">
      <option *ngFor="let section of sectionDTOs" [ngValue]="section">{{ section.name }}</option>
    </select>

    <label for="moduleType">Select Module Type:</label>
    <select id="moduleType" [(ngModel)]="moduleFrame.moduleType" name="moduleType">
      <option *ngFor="let moduleType of moduleTypeDTOs" [ngValue]="moduleType">{{ moduleType.name }}</option>
    </select>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [(ngModel)]="moduleFrame.quantity" name="quantity" placeholder="Quantity" />

    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="moduleFrame.name" name="name" placeholder="Name" />

    <label for="sws">SWS:</label>
    <input type="number" id="sws" [(ngModel)]="moduleFrame.sws" name="sws" placeholder="SWS" />

    <label for="weight">Weight:</label>
    <input type="number" id="weight" [(ngModel)]="moduleFrame.weight" name="weight" placeholder="Weight" />

    <label for="credits">Credits:</label>
    <input type="number" id="credits" [(ngModel)]="moduleFrame.credits" name="credits" placeholder="Credits" />

    <div class="buttons">
      <button type="button" (click)="back()">Back</button>
      <button type="button" (click)="saveModuleFrame()">Save and Reset</button>
      <button type="button" (click)="saveAndOpen()">Save and Open</button>
    </div>
  </form>
</div>
