body{
    margin: 0;
    font-family: Arial, sans-serif;
}/* You can add global styles to this file, and also import other style files */

:root {
  --modulo-main-color: #fd8e0d;
  --modulo-main-color-light: #ffcb85;
  --modulo-red: #ff0000;
  --modulo-light-grey: #f8f9fa;
  --modulo-light-mid-grey: #e9ecef;
  --modulo-mid-grey: #adb1b4;
  --modulo-dark-grey: #6c757d;
  --modulo-black: #000000;
  --modulo-white: #ffffff;
}

button {
  padding: 10px 15px; /* Padding for buttons */
  margin-right: 5px; /* Space between buttons */
  font-size: 14px; /* Set a base font size */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners for buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transitions for hover effects */
  color: var(--modulo-black);
  background-color: var(--modulo-light-mid-grey);
}

button.btn-highlight {
  background-color: var(--modulo-main-color); /* Highlight button color */
  color: var(--modulo-white); /* White text */
}

button.btn-soft-highlight {
  background-color: var(--modulo-main-color-light); /* Soft highlight button color */
  color: var(--modulo-black); /* Black text */
}

button.btn-danger {
  background-color: var(--modulo-red); /* Red background for delete button */
  color: var(--modulo-white); /* White text */
}

input, select {
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--modulo-mid-grey);
  border-radius: 4px;
  color: var(--modulo-black); /* Black text */
  background-color: var(--modulo-light-grey); /* Light gray background */
  width: 50%; /* Full width minus padding */
}
